name: ActionLint

on:
  push:
   branches:
     - '*'
  pull_request:
    branches:
     - '*'
    types:
      - opened
      - synchronize
  workflow_dispatch:

jobs:
  actionlint:
    timeout-minutes: 1
    runs-on: ubuntu-slim
    steps:
      # https://github.com/actions/checkout
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      # https://github.com/jdx/mise-action
      - name: Install Mise dependencies
        uses: jdx/mise-action@d16887ba50704baed7de72bd1e82e04391e4457a # v3.1.1
        with:
          install_args: "actionlint"

      - name: Add matcher
        run: |
          echo "::add-matcher::.github/problem_matcher/actionlint.json"

      - name: Run actionlint
        run: |
          actionlint -color

  